html {
    background-color: rgb(103, 153, 219);
        }
        
    header{
        width: 100%;
        height: 50%;
        }
        h1 {
            color:rgb(218, 104, 104);
            font-size: 350%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    section {
        display: flex;
        justify-content: space-around;
        margin: auto;
        background-color: rgb(177, 179, 179);
    }
    article {
        display: flex;
        flex-direction: column;  
        }
        
        p {
           font-family: monospace;
           font-size: small;
           font-style: bold;
            }
           
#spaceimg {
    display:flex;
    width: 80%;
    height: auto;
    margin: auto; 
    }
#messageBox {
    padding: 30pt;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}